In [1]:
"""
Pandas:
 - High level data manuplation tool build on top of Numpy package
 - pandas is an open source, high-performance, easy-to-use data structures 
   and data analysis tools for the Python programming language
 - enabling you to carry out your entire data analysis workflow in Python
 - Easy to load external files in tabular representaion
"""

'\nPandas:\n - High level data manuplation tool build on top of Numpy package\n - pandas is an open source, high-performance, easy-to-use data structures \n   and data analysis tools for the Python programming language\n - enabling you to carry out your entire data analysis workflow in Python\n - Easy to load external files in tabular representaion\n'

In [2]:
import pandas as pd

In [27]:
iris_dataframe = pd.read_csv('./classification/dataset/iris.data.csv')

In [28]:
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [29]:
# Select and index data

# Accessing a column

iris_dataframe[['sepal_length']].head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [30]:
iris_dataframe[['sepal_length', 'species']].tail()

     sepal_length    species
145           6.7  virginica
146           6.3  virginica
147           6.5  virginica
148           6.2  virginica
149           5.9  virginica

In [33]:
# Accessing a Row: using slicing
# dataframe[start_index:end_index] Remember: The end of the slice is not included and the index starts from 0

iris_dataframe[1:3]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [ ]:
# Advanced dataframe accessing

# loc - a technique to select parts of your data based on label
# iloc - a technique to select parts of your data based on position

In [43]:
# loc - similar to the above example with [] but more powerful

iris_dataframe.loc[:, ['petal_length', 'petal_width', 'species']].head()

   petal_length  petal_width species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa

In [44]:
iris_dataframe.iloc[:, [2,3,4]].head()

   petal_length  petal_width species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa

In [47]:
# Filtering data frame

filter_condition = iris_dataframe['species'] == 'setosa'

iris_dataframe[filter_condition]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa